.whole{min-height: 500px; min-width: 3000px;background-color:rgb(187, 77, 77);}
h1{font-size: 40px;margin-left:18%;height:30px;background-color: rgb(187, 77, 77);}
h3{color:rgb(206, 194, 125);font-size:30px;padding-left: 30px;}
